$black: #242423;
$darker: #1e1e1e;
$grey: #797979;
$offwhite: #CCCCCC;
$red: #8E0000;
$orange: #C23A3A;
$pink: #DE8484;

@font-face {
  font-family: TiempoBold;
  src: url('Tiempos Text - Semibold.otf');
}
@font-face {
  font-family: Tiempo;
  src: url('Tiempos Text - Regular.otf');
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: $black;
  color: $offwhite;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;  
  font-size: 14pt;
}
header {
  .inner-header {
    display: flex;
    align-items: center;
    padding: 30px 0 20px 0;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-bottom: 3px #707070 solid;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  .admin-intro {
    width: 70%;
    margin: 0 auto;
    .admin-header {
      color: $orange;
      text-align: center;
      .admin-name {
        font-family: TiempoBold, sans-serif;  
        font-weight: 1000;
        font-size: 22pt;
      }
      .admin-year { 
        font-family: Tiempo, sans-serif;  
        font-size: 18pt;
        margin-bottom: 15px;
      }
    }
    .admin-desc {
      line-height: 150%;
    }
  }

  .journ-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 95%;
    justify-content: flex-start;
    .journalist {
      margin: 30px 50px;
      flex: 0 0 25%;
      .name {
        color: $pink;
        font-weight: 700;
        font-size: 18pt;
      }
    }
    padding: 40px 0;
  }

}

footer {
  background-color: $darker;
  color: #bdbdbd;
  font-family: Tiempo, sans-serif;
  padding: 100px;
  line-height: 0pt;
}