.PresWrapper {
  margin: 0 40px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.PresWrapper span {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  min-height: 60px;
  display: flex;
  align-items: center;
  /* Gray 2 */

  color: #797979;
}

.ImgWrapper {
  height: 208px;
  width: 140px;
  margin: 0 auto;
  opacity: 0.3;
}

.circle {
  z-index: 999;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-color: #797979;
  margin: 20px 40px;
}

.SliderWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.Line {
  height: 3px;
  width: 100%;
  left: 0;
  position: absolute;
  background: #797979;
  z-index: 1;
  margin: -30px auto 40px auto; /* temporarily hardcoded */
}

.Wrapper {
  width: 70%;
  margin: 30px auto;
}

.Header {
  color: #C23A3A;
  text-align: center;
  line-height: 30px;
}

.Name {
  font-family: TiempoBold, sans-serif;
  font-weight: 900;
  font-size: 22pt;
}

.Year {
  font-family: Tiempo, sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 500;
}

.Desc {
  line-height: 25px;
  font-size: 18px;
}

.active {
  span {
    color: #c23a3a;
    font-weight: 800;
  }


  .ImgWrapper {
    opacity: 1;
  }

  .circle {
    background-color: #c23a3a;
  }
}