.guide {
  color: #cccccc;
  opacity: 0.7;
  margin: 0 auto 40px auto;
  text-align: center;
  @media screen and (max-width: 768px) {
    font-size: 16px;
  }
}

.PresWrapper {
  margin: 0 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.PresWrapper span,
.mobileName {
  max-height: 2em !important;
  line-height: 1.8em;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  min-height: 60px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  color: #797979;
}

.guideWeb {
  display: block;
}

.guideMobile {
  display: none;
}

.ImgWrapper {
  height: 208px;
  max-width: 160px;
  margin: 0 auto;
  opacity: 0.3;
  filter: brightness(40%);
}

.ImgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.circle {
  z-index: 999;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  background-color: #797979;
  margin: 20px 40px;
}

.sliderWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.Line {
  position: absolute;
  width: 100%;
  height: 3px;
  // left: -100px;
  background: #797979;
  z-index: 1;
  margin: -90px 0 0 0;
  /* temporarily hardcoded */
}

.Wrapper {
  width: 70%;
  margin: 30px auto;
  padding: 20px 0;
}

.Header {
  color: #c23a3a;
  text-align: center;
  line-height: 30px;
}

.Name {
  font-family: TiempoBold, sans-serif;
  font-weight: 900;
  font-size: 28px;
}

.Year {
  font-family: Tiempo, sans-serif;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 500;
  padding: 10px 0;
}

.Desc {
  color: #ffffff;
  line-height: 27px;
  font-size: 18px;
}

.active {
  span,
  .mobileName {
    color: #c23a3a;
    font-weight: 800;
  }

  .ImgWrapper {
    opacity: 1;
    filter: brightness(100%);
  }

  .circle {
    background-color: #c23a3a;
  }
}

.mobileWrapper {
  display: none;
}

.controls .prev,
.controls .next {
  position: absolute;
  z-index: 2;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #797979;
  text-align: center;
  line-height: 30px;
  font-size: 15px;
  cursor: pointer;
  margin: 90px 10px;
}

.controls .prev {
  left: 0;
}

.controls .next {
  right: 0;
}

@media screen and (max-width: 768px) {
  .Name {
    font-size: 24px;
  }

  .Year {
    font-size: 18px;
  }

  .Line,
  .sliderWrapper {
    display: none;
  }

  .Wrapper {
    display: none;
  }

  .guide {
    text-align: left;
    line-height: 24px;
  }
  .guideWeb {
    display: none;
  }

  .guideMobile {
    display: block;
  }

  .mobileWrapper {
    display: block;

    .mobilePres {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      align-items: center;
      margin: 20px auto;
    }

    .mobileImg {
      width: 160px;
      height: 208px;

      img {
        width: 100%;
      }

      .mobileName {
        align-self: flex-end;
        width: 50%;
      }
    }
  }
}

.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 66px;
  overflow: hidden;
}
