@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

html,
body {
    background: #242423;
    color: white;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin: 0;
    padding: 0;
}